network:
  version: 2
  ethernets:
    eth0:
      dhcp4: no
      addresses:
        - 10.10.20.11/24
      routes:
        - to: default
          via: 10.10.20.1
      nameservers:
        addresses:
          - 8.8.8.8
          - 1.1.1.1
